@for $i from 0 through 20 {
  .delayed-#{$i} {
    animation-delay: $i * .1 + s;
  }
}

.with-anim {
  opacity: 0;
  will-change: contents;
}

.animate {
  .with-anim {
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-name: default-anim;
  }

  .image.with-anim {
    animation-name: image-anim;
  }

  .text.with-anim {
    animation-name: text-anim;
  }

  &.img-left {
    .image.with-anim {
      @include media-landscape {
        animation-name: image-anim-left;
        animation-delay: unset;
      }
    }

    .text.with-anim {
      @include media-landscape {
        animation-name: text-anim-right;
        animation-delay: unset;
      }
    }
  }

  &.img-right {
    .image.with-anim {
      @include media-landscape {
        animation-name: image-anim-right;
        animation-delay: unset;
      }
    }

    .text.with-anim {
      @include media-landscape {
        animation-name: text-anim-left;
        animation-delay: unset;
      }
    }
  }

}

@keyframes default-anim {
  0% {
    transform: translate(0, 15px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes image-anim {
  0% {
    transform: translate(0, 15px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes image-anim-left {
  0% {
    transform: translate(-15px, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes image-anim-right {
  0% {
    transform: translate(15px, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes text-anim {
  0% {
    transform: translate(0, 15px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes text-anim-left {
  0% {
    transform: translate(-15px, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes text-anim-right {
  0% {
    transform: translate(15px, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
