footer {
  p {
    text-align: center;
    padding: 5rem 0;
    font-size: $s0;

    a {
      display: initial;
      transition: color .3s ease-in-out;

      &:hover {
        color: $text-yellow;
      }
    }
  }
}