@import "base/baseline";
@import "base/breakpoints";
@import "base/placeholders";
@import "base/colors";
@import "base/variables";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import "base/typography";
@import "base/animations";
@import "base/navigation";
@import "base/footer";
@import "templates/home";
@import "templates/404";

body {
  font-family: 'Lato', sans-serif;
  background-color: $black1;
  color: $text-white;
  font-weight: 300;
}

h1 {
  font-size: $s3;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;

  @include media-s {
    font-size: $s6;
  }
}

h2 {
  font-size: $s3;
  font-weight: 300;
  line-height: 1.2;

  @include media-s {
    font-size: $s4;
  }
}

p {
  font-size: $s2;

  @include media-xs-portrait {
    font-size: $s3;
  }

  @include media-l {
    font-size: $s6;
  }
}

img {
  max-width: 100%;
}

.wrapper {
  width: $wrapper_width;
  max-width: $wrapper_max-width;
  margin: auto;
}

.va-middle {
  height: 100%;

  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
  }

  & > div {
    display: inline-block;
    vertical-align: middle;
    width: 98%;
  }
}

.no-js .with-anim {
  opacity: 1 !important;
  transform: translate(0, 0) !important;
}
