.top-wrapper {
  height: 100vh;
  min-height: 500px;

  @include media-landscape {
    min-height: 0;
  }

  .logos {
    margin-top: 2rem;
    max-width: 800px;

    @include media-m {
      margin: 5.5rem auto 0;
    }

    &>div {
      margin: 3rem auto;

      @include media-landscape {
        display: inline-block;
        vertical-align: middle;
        margin: 0 auto;
      }

      $a: 5;
      $l: 5;
      $t: $a+$l;

      &#atelier {
        width: $a * 10%;

        @include media-landscape {
          width: $a / $t * 98%;
          padding: 0 1rem;
        }
      }

      &#luxanov {
        width: $l * 10%;

        @include media-landscape {
          width: $l / $t * 98%;
          padding: 0 1rem;
          margin-top: 50px;
        }
      }

      img {
        margin: auto;
      }
    }
  }
}

.group {
  $d: 150;
  $w_i: 28;
  $w_t: 70;

  padding-bottom: 3rem;
  text-align: center;
  overflow: hidden;

  @include media-landscape {
    height: $w_i * $d / 100 * 1vw;
    padding-bottom: 0;
    max-height: 600px;
  }

  .image {
    margin: 0 auto;
    width: 60%;

    @include media-landscape {
      display: inline-block;
      vertical-align: middle;
      width: $w_i * 1%;
      position: relative;

      &>div {
        position: absolute;
        width: $d * 1%;
        margin-top: - $d / 2 * 1%;
      }
    }

    &>div {
      @media (min-width: #{(600 / $d * 100) / $w_i * 100px}) {
        margin-top: -300px;
      }
    }
  }

  .text {
    text-align: center;
    margin: 2rem 0;
    line-height: 1.2;

    @include media-landscape {
      display: inline-block;
      vertical-align: middle;
      width: $w_t * 1%;
      padding: 0 2rem;
    }
  }

  .wrapper {
    @include media-landscape {
      width: 100%;
    }
  }

  &.img-left {
    @include media-landscape {
      .image {
        &>div {
          right: 0;
        }
      }
    }
  }

  &.img-right {
    @include media-landscape {
      direction: rtl;

      .image {
        &>div {
          left: 0;
        }
      }

      .text {
        direction: ltr;
      }
    }
  }
}

.contact {
  text-align: center;
  margin-top: 5rem;

  @include media-m {
    margin-top: 6rem;
  }

  .image {
    margin: 0 auto;
    width: 60%;
    max-width: 1117px;
  }

  .logo {

    &>div {
      width: 40%;
      margin: auto;
      max-width: 135px;

      @include media-s {
        max-width: none;
      }

      img {
        width: 82px;
      }
    }
  }

  img {
    margin: auto;
  }

  .text {
    margin: 4rem 0;

    @include media-m {
      margin: 6rem 0 56px;
    }
  }

  .links {
    margin: 4rem 0 6rem;
    text-transform: uppercase;
    line-height: 1.3;

    @include media-m {
      margin: 51px 0 6rem;
    }
  }

  a {
    font-size: $s2;
    transition: color .3s ease-in-out;

    @include media-s {
      font-size: $s4;
    }

    &:hover {
      color: $text-yellow;
    }
  }
}